RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /index.php [L,QSA]

<FilesMatch ".*\.php">
Deny from all
</FilesMatch>
<FilesMatch "index.php">
Allow from all
</FilesMatch>